
.content {
    margin-left: 250px;  
    box-sizing: border-box;
}

/* In your CSS file (styles.css) */
.main-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: auto;
}

.main-content img {
    position: center;
    display: block;
    object-fit: fill;
    height: 1000px;
    width: auto;
}

.text-content {
    flex: 1;
    padding: 20px;
}