/* Apply styles to the sidebar */
.sidebar {
    background-color: #cad6ec;
    width: 270px;
    height: 100%;
    padding: 30px;
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
}

/* Apply styles to all anchor elements inside the sidebar */
.sidebar a {
    font-size: 30px;
    text-decoration: none;
    color: grey;
}

/* Apply styles to unvisited links inside the sidebar */
.sidebar a:link {
    color: grey;
}

/* Apply styles to visited links inside the sidebar */
.sidebar a:visited {
    color: grey;
}

/* Apply styles to links on hover inside the sidebar */
.sidebar a:hover {
    color: rgb(65, 64, 64);
}

/* Apply styles to active links (when clicked) inside the sidebar */
.sidebar a:active {
    color: black;
}

.custom-list {
    margin-top: 100px;
}
.custom-list ul {
    list-style-type: none; /* Removes bullet points */
    bottom: 100px;
    padding: 0;
    margin: 0;
}

.custom-list li {
    border-bottom: 1px solid #AC853E; /* Add border lines */
    padding: 8px 0; /* Adjust spacing */
}