<!-- index.html -->
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/homepage.css"> <!-- "/ryan-genereux-personal-website/css/homepage.css" -->
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/sidebar.css">
    <!-- Other head content here -->
</head>
<body>
    <!-- Include the sidebar partial -->
    {{ partial "sidebar.html" . }}

    <!-- Main content area -->
    <div class="content">
        <div class="main-content">
            <div class="text-content">
                <h1>Welcome to My Site!</h1>
                <p>Your introductory text goes here...</p>
            </div>
        </div>
    </div>

    <!-- Additional scripts/stylesheets etc. -->
</body>
</html>
