<!-- layouts/index.html -->
{{ define "main" }}
    <section class="homepage">
        <!--  <div class="image-section">
             <img src="/images/your-image.jpg" alt="Your Name"> 
        </div> -->
        <div class="text-section">
            <h1>Your Name</h1>
            <p>Welcome to my portfolio website. I am a passionate developer...</p>
            <!-- Add more text or content as needed -->
        </div>
    </section>
    
    <link rel="stylesheet" href="/css/homepage.css">
{{ end }}