<!-- index.html -->
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/homepage.css"> <!-- "/ryan-genereux-personal-website/css/homepage.css" -->
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/sidebar.css">
</head>
<body>
    {{ partial "sidebar.html" . }}

    <div class="content">
        <div class="main-content">
            <img class = "main-content" src="{{.Site.BaseURL }}images/DecentPersonalPicture.jpg"/>
            <div class="text-content">
                <h1>Hello there!</h1>
                <p>My name is Ryan Genereux and I am a third year computer engineer,
                    this website is a random project I decided to start so I could 
                    post the things I do. 
                </p>
            </div>
        </div>
    </div>
</body>
</html>
