<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/sidebar.css"> 
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/about.css">
    <!-- Other head content here -->
</head>
<body>
    <!-- Include the sidebar partial -->
    {{ partial "sidebar.html" . }}

    <!-- Main content area -->
    <div class="content">
        <!-- Your page content goes here -->
        {{ block "main" . }}
        {{ end }}
    </div>

    <!-- Additional scripts/stylesheets etc. -->
</body>
</html>


